<%# Write your code here! %>
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>If you tell me your name, I can say hi!</h2>
    <form action="/greet" method="post">
      <input type="texts" name="user_name"></input>
      <input type="submit" value="Submit"></input>
    </form>
  </body>
</html>
